/* site color palette @ https://coolors.co/f8d9fc-c9adff-7f69dd-35319b-08073e */
html {
  height: 100%;
  background: linear-gradient(-135deg, #7F69DD, #35319B);
  background-size: cover;
  font: 16px Helvetica;
  color: white;
  letter-spacing: -0.1px;
}

#wrapper {
  text-align: center;
  padding-top: 75px;
}

#center-box {
  border: 3px solid #F8D9FC;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: left;
  width: 750px;

}

h1 {
  font: italic 28px Helvetica;
}

a {
  color: white;
}

#return-link {
  text-align: right;
  font: italic;
}

#my-portrait {
    width: 500px;
}
