#my-portrait {
    width: 500px;
}

html {
  height: 100%;
  background: linear-gradient(45deg, purple, blue);
  background-size: cover;
  font: 16px Helvetica;
  letter-spacing: -0.3px;
}

#wrapper {
  text-align: center;
}

#center-box {
  border: 2px solid purple;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-align: left;

}

div {
  align-content: center;
}

h1 {
  font: italic 28px Helvetica;
}
